body{
  font-family: Georgia, serif;
}

h1{
  font-size: 70px;
  color: #437d00;
  text-align: center;
}
h2{
  font-size: 55px;
  color: #213e00;
  text-align: left;
}
h3{
  font-size: 35px;
  color: #61a070;
  text-align: left;
  }

p{
  color: #8866b1;
  text-align: center;
}
